commands:
  00_install: 
    command: "sudo yum install -y amazon-efs-utils"
    ignoreErrors: True

  01_create_mount_directory:
    command: "sudo mkdir -p /mnt/efs"
    ignoreErrors: true

  02_mount_efs:
    command: "sudo mount -t efs -o tls,mounttargetip="someIPaddress" fs-1234 /mnt/efs"
    ignoreErrors: true
